/********** Template CSS **********/
:root {
    --primary: #2D4739;
    --secondary: #e1cb97;
    --light: #FEFBEA;
    --dark: #2D2B2A;



}
/* utility classes start */

.bg-beige {
    background: #FEFBEA;
}



/* utility classes end */
.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 500 !important;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
    font-weight: 500;
}

.btn-primary,
.btn-outline-primary:hover {
    color: var(--light);
}

.btn-secondary,
.btn-outline-secondary:hover {
    color: var(--dark);
}

.btn-square {
    width: 38px;
    height: 38px;

}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar .navbar-nav .nav-link {
    margin-right: 35px;
    padding: 25px 0;
    color: var(--dark);
    font-size: 18px;
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav  {
    color: var(--primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}
/* Center navbar content */
@media (min-width: 992px) {
  .navbar .navbar-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, .1);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    background-color: var(--primary);
    border: 10px solid var(--primary);
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


/* carousle responsive text start */
  @media (max-width: 576px) {
    .mobile-small-text {
      font-size: 0.8rem !important;
    }
    .mobile-small-heading {
      font-size: 1.3rem !important;
    }

  }

/* carousle responsive text end */

.page-header {
    background: url(../img/banner.jpg) center center no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-size: 18px;
    color: var(--light);
}




/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 5px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 6px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/* upcmoing retreat section start*/
/* Optional enhancements */
.remember-card {
  max-width: 900px;
  border-radius: 2rem;
  overflow: hidden;
}

.object-fit-cover {
  object-fit: cover;
  height: 100%;
}

/* upcoming retreat section end  */


/*** About ***/
.about-experience {
    position: absolute;
    width: 100%;
    height: 100%;
    right: -45px;
    bottom: -45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*** Service ***/
.service-item {
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

.service-item .service-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 8px;
    overflow: hidden;
    z-index: -1;
}

.service-item .service-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
    border-radius: 10px;
}

.service-item .service-img::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    z-index: 1;
}

.service-item .service-img::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #FFFFFF;
    transition: .5s ease-out;
    z-index: 2;
}

.service-item:hover .service-img::after {
    width: 0;
    left: auto;
    right: 0;
}

.service-item .service-text .service-icon {
    width: 140px;
    height: 140px;
    padding: 15px;
    margin-top: -70px;
    margin-bottom: 40px;
    background: #FFFFFF;
    border-radius: 140px;
    overflow: hidden;
    box-shadow: 0 0 60px rgba(0, 0, 0, .1);
}

.service-item .service-text h5,
.service-item .service-text p {
    transition: .5s;
}

.service-item:hover .service-text h5,
.service-item:hover .service-text p {
    color: #FFFFFF;
}

.service-item .service-text .btn {
    color: var(--secondary);
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .25);
}

.service-item .service-text .btn:hover {
    color: var(--dark);
    background: var(--secondary);
}
/* modals in service section start */
@media (max-width: 576px) {
  .custom-modal .modal-dialog {
    margin: 1rem;
  }
  .custom-modal .modal-body {
    padding: 1rem;
  }
}
/* modals in service section end */


/* gallery */
    .custom-gallery img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }

    .custom-image {
      padding: 15px;
    }

    /* Small device adjustments */
    @media (max-width: 768px) {
      .custom-image {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .custom-gallery img {
        max-height: 300px;
        object-fit: cover;
      }
    }

    .custom-gallery-hidden {
      display: none;
    }

    .view-more-btn {
      display: block;
      margin: 20px auto;
      padding: 10px 30px;
      font-weight: bold;
      border-radius: 30px;
    }

/* gallery end */







/*** Testimonial ***/
.testimonial-img {
    position: relative;
    min-height: 400px;
}

.testimonial-img::after {
    position: absolute;
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 200px;
    color: #EEEEEE;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.testimonial-img img {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.testimonial-img img:nth-child(1) {
    top: 0;
    left: 0;
}

.testimonial-img img:nth-child(2) {
    top: 60%;
    left: 20%;
}

.testimonial-img img:nth-child(3) {
    top: 20%;
    left: 60%;
}

.testimonial-img img:nth-child(4) {
    bottom: 0;
    right: 0;
}

.testimonial-img img .animated.pulse {
    animation-duration: 2s;
}

.testimonial-carousel .owl-item img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin-right: 15px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
    border-radius: 45px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .2);
    font-size: 22px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--secondary);
    color: var(--dark);
}


/*** Footer ***/
.footer {
    color: #B0B9AE;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #B0B9AE;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--light);
    letter-spacing: 1px;
    box-shadow: none;
}





/*** about page start ***/
/* Timeline line centered and responsive */
.timeline-wrapper {
  position: relative;
  padding-top: 30px;
}


.timeline-line {
  height: 2px;
  background-color: #d0b28c;
  position: absolute;
  top: 50px; /* Aligns with center of the circles */
  left: 9%;   /* Adjust until it lines up with first circle */
  right: 9%;  /* Adjust until it ends at last circle */
  z-index: 0;
}
/* Circle styles */
.timeline-step .circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f5f1e7;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin-bottom: 12px;
  position: relative;
  z-index: 2;
}

.timeline-step.active .circle {
  background: #d0b28c;
  color: #fff;
}

/* Step wrapper */
.timeline-step {
  flex: 1;
  cursor: pointer;
  text-align: center;
  min-width: 60px;
}

/* Label separated from line */
.timeline-step .label {
  font-size: 1.3rem;
  margin-top: 20px; /* separates label more from the line */
}

/* Show line on small devices */
@media (max-width: 768px) {
  .timeline-line {
    display: block;
    margin: 0 20px;

  }
  .timeline-step .label {
  font-size: 0.9rem;
  margin-top: 20px; /* separates label more from the line */
}

}

   /*timeline img resposnvie   */
   .timeline-text-section {
    padding-top: 0px;
    margin-top: 0px;

}


   
   .custom-img-responsive {
  max-width: 60%;      /* Smaller image for small screens */
        /* Add vertical margin */
}

@media (min-width: 768px) {
  .custom-img-responsive {
    max-width: 100%;   /* Full width in desktop */
    margin: 0;         /* Remove margin on larger screens */
  }
  
}

@media (max-width: 375px) {
  /* General adjustments for labels */
  .timeline-step .label {
    position: relative;
    font-size: 0.75rem;
    line-height: 1.1;
  }

  /* Move specific labels ABOVE the circle */
  #survival-label,
  #breaking-label,
  #rebirth-label {
    order: -1; /* puts it before the circle */
    margin-bottom: 4px;
  }

  /* Move specific labels BELOW the circle */
  #hustle-label,
  #awakening-label {
    margin-top: 4px;
  }
}



/* course card start */
.course-card {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25); /* much darker and deeper shadow */
  overflow: hidden;
  position: relative;
  transition: 0.3s ease;
}    


.course-card:hover {
      transform: translateY(-5px);
    }

    .course-card .img-wrapper {
      position: relative;
      overflow: hidden;
      border-radius: 1rem 1rem 0 0;
    }

    .course-card .img-wrapper img {
      width: 100%;
      height: auto;
      display: block;
    }


    .course-card .badge-group {
      margin-top: 1rem;
    }

    .badge-custom {
      font-size: 0.75rem;
      padding: 0.4em 0.75em;
      border-radius: 0.5rem;
    }




/*** about page end ***/

/*** Contact ***/
    .logo-circle {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
    }
        /* contact page end */

