ErrorDocument 404 /404.html

RewriteEngine On

# Basic URL rewrite rule to hide .html extensions
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.+)$ $1.html [L,QSA]

# Disable rewrite for actual .html files, directories, or if a file already exists
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
